a{
   text-align: center; 
   font-size: 15px;
   display: inline;
   padding: 10px 15px;
background-color: blue;
color: black;

text-decoration: none;
border: solid orchid;
border-radius: 10px;
}

a:hover{
    background-color: aqua;

}

a:active{
    background-color: blanchedalmond;
}